@charset "UTF-8";

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format(opentype);
    font-weight: normal;
}

body{
    background-color: black;
    color: white;
}
main{
    text-align: center;
    background-color: rgba(41, 38, 38, 0.856);
    min-width: 200px;
    max-width: 300px;
    margin: auto;
    margin-block: 80px;
    border-radius: 20px;
    padding: 26px;
   
    
   
}
main > img{
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
    margin: auto;
    padding: 30px;
}
main > h1{
    font-family: 'Inter';
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 2em;
}
main h2{
    font-family: 'Inter';
    font-weight: normal;
    font-size: 1em;
    color: yellow;
}
main > h3{
    font-family: 'Inter';
    font-size: .8em;
    padding: 10px 10px;
    font-weight: normal;
}
main > a{
    line-height: 4em;
    width: 100%;
     
}

main > a > button{
    background-color: rgba(61, 60, 60, 0.295);
    font-family: 'Inter';
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 20px;
    width: 100%;


}

main > a > button:hover{
    background-color:rgba(0, 0, 0, 0.596);
    transition-duration: .5s;
    width: 100%;
}
footer{
    text-align: center;
}
footer > a{
    text-decoration: underline;
    color: yellow;
}